/**
  * Time:2022/3/18 19:59 03
  * Name:index.css
  * Path:Web/src/com/charlatan/self_study/webpack/webpack打包/7、开发资源配置/src
  * ProjectName:WWW
  * Author:charlatan
  *
  *  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font: 500 15px/1.3em YouYuan;
	/* 字体选择： STKaiti fangsong STCaiyun FZShuTi */
	text-decoration: none;
}

a:link {
	color: #b700ff;
}

a:visited {
	color: #0066ff;
}

a:hover {
	color: #FF00FF;
}

a:active {
	color: #ff8800;
}

*::selection {
	color: #fff99a;
	background-color: #ff961b;
}

*::placeholder {
	font: 500 .5rem YouYuan;
}

*::placeholder {
	cursor: pointer;
}

ul:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: block;
	visibility: hidden;
}

li {
	cursor: pointer;
	position: relative;
	list-style: none;
}

label, button {
	user-select: none;
	/*pointer-events:none;*/
}

input {
	padding: .1rem 0 .1rem .1rem;
	font: 500 .8rem YouYuan;
}

button {
	cursor: pointer;
}

/*-------以上为默认设置（The above is the default setting）--------*/

