<!--
  ~ Time:2022/2/18 14:57 52
  ~ Name:8-1计算属性.html
  ~ Path:Web代码/src/com/charlatan/self_study/Vue/Vue 2.x/基础
  ~ ProjectName:WWW
  ~ Author:charlatan
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>计算属性</title>

</head>
<body>
使用插值语法和事件修饰进行实现
<hr>
<div id="root">
	<label>
		姓
		<input v-model="surname" name="" type="text">
	</label>
	<label>
		名
		<input v-model="name" name="" type="text">
	</label>
	<div>
		全名：{{ fullName() }}
	</div>
	<!--	<div>-->
	<!--		全名：{{ surname + name }}-->
	<!--	</div>-->
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	Vue.config.productionTip = false

	let vm = new Vue({
		el: '#root',
		data: {
			surname: '张',
			name: '三',
		},
		methods: {
			fullName () {
				return this.surname + this.name
			},
		},
	})
</script>
</html>
