<!--
  ~ Time:2022/2/18 16:50 57
  ~ Name:8-2计算属性.html
  ~ Path:Web代码/src/com/charlatan/self_study/Vue/Vue 2.x/基础
  ~ ProjectName:WWW
  ~ Author:charlatan
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>计算属性</title>

</head>
<body>
<div id="root">
	<label>
		姓
		<input v-model="surname" name="" type="text">
	</label>
	<label>
		名
		<input v-model="name" name="" type="text">
	</label>
	<div>
		全名：{{ fullName }}
	</div>
</div>
<pre>
	计算属性相对与事件的返回值的调用来说效率更高
	因为事件的返回值调用，是每一次调用都会进行方法的执行，而计算属性就像是一个值一样，通过第一次计算后，以后有属性调用直接进行赋值，而不是进行调用原来的方法
</pre>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	Vue.config.productionTip = false

	let vm = new Vue({
		el: '#root',
		data: {
			surname: '张',
			name: '三',
		},
		methods: {},
		computed: {
			// 完整写法
			// fullName:{
			// 	// 只要有人读取了fullName时，get就会被调用且返回值作为fullName的值
			// 	get(){
			// 		return this.surname + this.name
			// 	},
			// 	set(value){
			// 		this.surname = "李"
			// 		this.name = '四'
			// 	}
			// }

			//	计算属性的简写【这种方式仅限只有一个 get 时】
			fullName () {
				return this.surname + this.name
			},
		},
	})


</script>
</html>
