<!--
  ~ Time:2022/2/19 9:57 42
  ~ Name:10监视属性和计算属性的区别.html
  ~ Path:Web代码/src/com/charlatan/self_study/Vue/Vue 2.x/基础
  ~ ProjectName:WWW
  ~ Author:charlatan
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>监视属性和计算属性的区别</title>

</head>
<body>
<div id="root">
	<label>
		姓
		<input v-model="surname" name="" placeholder="姓" type="text">
	</label>
	<hr>
	<label>
		名
		<input v-model="name" name="" type="text">
	</label>
	<hr>
	全名：{{ fullName }}
</div>
<br>
<br>
<br>
<br>
<div id="dom">
	<label>
		姓
		<input v-model="surname" name="" placeholder="姓" type="text">
	</label>
	<hr>
	<label>
		名
		<input v-model="name" name="" type="text">
	</label>
	<hr>
	全名：{{ fullName }}
</div>
<hr>
<pre>
	计算属性和监视属性的区别：
		计算属性是通过获取到实时数据并立马做出反馈，但是不能进行异步的调用，如果使用异步因为不能立马有返回值，所以返回的内容一直是空
		监视属性是通过配置一个新的属性，这个属性改变的同时会立马在页面进行反应，所以，可以使用异步任务进行调用

	computed和watch之间的区别：
		1.computed能完成的功能，watch都可以完成。
		2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
	两个重要的小原则：
		1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
		2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
			这样this的指向才是vm 或 组件实例对象。
</pre>

</body>
<script src="../vue_2.6.9.js"></script>
<script>
	Vue.config.productionTip = false

	const vm = new Vue ({
		el: '#root',
		data: {
			surname: '张',
			name: '三',
		},
		methods: {},
		computed: {
			fullName () {
				return this.surname + this.name
			},
		},
		watch: {},
	})

	let vm1 = new Vue ({
		el: '#dom',
		data: {
			surname: '张',
			name: '三',
			fullName: '张三',
		},
		watch: {
			surname (newValue) {
				// 当要使用定时器时，要使用箭头函数，因为默认的函数中的this是window的事件管理模块调用的，他的this指向的是window，
				// 但是我们希望这个this是指向VM的，使用箭头函数没有指定的this，会向外进行查找，所以这时才能将this正确指定为 VM
				setTimeout (() => {
					this.fullName = newValue + this.name
				}, 1000)
			},
			name (newValue) {
				this.fullName = this.surname + newValue
			},
		},
	})

</script>
</html>
