<!--
  ~ Time:2022/2/19 16:05 10
  ~ Name:12条件渲染.html
  ~ Path:Web代码/src/com/charlatan/self_study/Vue/Vue 2.x/基础
  ~ ProjectName:WWW
  ~ Author:charlatan
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>条件渲染</title>
	<style>
		* {
			margin: 0;
			padding: 0;
			list-style: none;
			font: 500 15px YouYuan;
			text-decoration: none;
		}

		li {
			cursor: pointer;
			position: relative;
		}

		/*-------以上为默认设置（The above is the default setting）--------*/

		div {
			width: 100px;
			height: 100px;
			background: red;
		}


	</style>
</head>
<body>
<div id="root">
	你好，{{ name }}
	<div v-show="false">
		v-show是视觉的隐藏
	</div>
	<div v-if="false">
		v-if直接能把结构给干掉
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<button type="button" @click="n = n === 5 ? 0 : ++n">按钮</button>
	<span v-show="n === 1">第一个</span>
	<span v-show="n === 2">第二个</span>
	<span v-show="n === 3">第三个</span>
	<span v-show="n === 4">第四个</span>
	<span v-show="n === 5">第五个</span>
	<br>
	<br>
	<br>
	<hr>
	<span v-if="n === 1">第一个</span>
	<span v-else-if="n === 1">第二个</span>
	<span v-else-if="n === 3">第三个</span>
	<span v-if="n === 4">第四个</span>
	<span v-if="n === 5">第五个</span>
	<span v-else>第10-个</span>
	<hr>
	<br>
	<br>
	<br>
	<template v-if="n === 1">
		<span>第一个</span>
		<span>第一个</span>
		<span>第一个</span>
		<span>第一个</span>
	</template>

</div>
<hr>
<pre>
	这里的if和else if和JS中的语法相同，如果走了其中一个节点，其他的同级就不会继续执行了

	当要使多个元素响应同一条件时，可以将这些内容用div进行包裹，但是使用div会破坏原先的页面结构，引起不必要的麻烦，所以可以使用 template
	这个虽然写了，但是在结构上不进行显示，并且，也不会破坏结构，不过template只能配合v-if进行使用，不能和v-show一起使用
</pre>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	Vue.config.productionTip = false

	const vm = new Vue({
		el: '#root',
		data: {
			name: 'name',
			n: 0,
		},
		methods: {},
		computed: {},
		watch: {},
	})

</script>
</html>
