<!--
  ~ Time:2022/2/20 15:00 52
  ~ Name:13-3列表过滤.html
  ~ Path:Web代码/src/com/charlatan/self_study/Vue/Vue 2.x/基础
  ~ ProjectName:WWW
  ~ Author:charlatan
  ~
  ~  Il n'ya qu'un héroïsme au monde : c'est de voir le monde tel qu'il est et de l'aimer.
  -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<title>列表过滤</title>

</head>
<body>
<div id="root">
	<input id="" v-model="input" name="" placeholder="输入" type="text">
	<hr>
	<ul>
		<li v-for="(per,index) in fullPer">
			{{ per.name }} - {{ per.age }} - {{ per.sex }}
		</li>
	</ul>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	Vue.config.productionTip = false

	const vm = new Vue({
		el: '#root',
		data: {
			persons: [
				{
					name: '马冬梅',
					age: 12,
					sex: '女',
					id: '001',
				}, {
					name: '周冬雨',
					age: 13,
					sex: '女',
					id: '002',
				}, {
					name: '周杰伦',
					age: 14,
					sex: '男',
					id: '003',
				}, {
					name: '张杰',
					age: 15,
					sex: '男',
					id: '004',
				}, {
					name: '马云',
					age: 16,
					sex: '男',
					id: '005',
				},
			],
			input: '',
		},
		methods: {},
		computed: {
			fullPer (value) {
				return this.persons.filter((item) => {
					return item.name.indexOf(this.input) !== -1
				})
			},
		},
		// watch: {
		// 	input:{
		// 		immediate:true,
		// 		handler(newValue) {
		// 			this.fullPer = this.persons.filter((item) => {
		// 				console.log(item.name.indexOf(newValue))
		// 				return item.name.indexOf(newValue) !== -1
		// 			})
		// 		}
		// 	}
		// },
	})

</script>
</html>
